<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fboicfproto.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fboicfproto.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fboicfproto</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fboicfproto</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EFDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:zeswitzdev.database.windows.net,1433;Initial Catalog=fboicfproto;User ID=azeswitz@zeswitzdev;Password=1.LoveMyDad" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AgileLizard.Site.Models.ApplicationDbContext, AgileLizard.Site" MigrationConfiguration="AgileLizard.Site.Migrations.Configuration, AgileLizard.Site" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EFDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zeswitzdev.database.windows.net,1433;Initial Catalog=fboicfproto;User ID=azeswitz@zeswitzdev;Password=1.LoveMyDad</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>