*.suo
*.user
*/obj
*.pdb
Web.Debug.config
Web.fboicfproto - Web Deploy.config
Web.Release.config
/Properties/PublishProfiles
app.config
Thumbs.db
AgileLizard.Site.txt
AgileLizard.Site/Web.config
AgileLizard.Business/bin
AgileLizard.Data/bin
AgileLizard.Domain/bin
AgileLizard.Fbopen.Client/bin
AgileLizard.Fbopen.Client.Tests/bin
AgileLizard.Site.Tests/bin
AgileLizard.Tests/bin


AgileLizard.Site/Web.config
