@model AgileLizard.Site.Models.SearchViewModel

@{
    Layout = "~/Views/Shared/_Layout_Search.cshtml";
    ViewBag.Title = "Search Results";
}
@section head {

}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Find Business Opportunities</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">Home</a></li>
            <li class="active">Opportunities</li>
        </ol>
    </div>
</header>

<div class="container">
@if (Model == null)
{
   @Html.Partial("_SimpleSearchPartial")
}else
{
    @Html.Partial("_SearchResultsPartial")
}

</div>


@section scripts {



}