<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>@ViewBag.Title - FBO.gov</title>
    <link href="~/Content/css/preload.css" rel="stylesheet" media="screen">
    <!-- CSS -->
    <link href="~/Content/css/preload.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/yamm.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/bootstrap-switch.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/animate.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/slidebars.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/lightbox.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/css/syntaxhighlighter/shCore.css" rel="stylesheet" media="screen">

    <link href="~/Content/css/style-blue2.css" rel="stylesheet" media="screen" title="default">
    <link href="~/Content/css/width-full.css" rel="stylesheet" media="screen" title="default">
    <link href="~/Content/css/buttons.css" rel="stylesheet" media="screen">



    <link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/Content/css/iThing-min.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" media="screen">

    <link rel="icon" type="image/png" href="~/favicon.png">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="/Content/js/html5shiv.min.js"></script>
        <script src="/Content/js/respond.min.js"></script>
    <![endif]-->
    
    @RenderSection("head", required: false)
</head>
<!-- Preloader -->
<div id="preloader">
    <div id="status">Fetching Results...</div>
</div>
<body>

        @RenderBody()
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery.cookie.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap-switch.min.js"></script>
    <script src="~/Content/js/wow.min.js"></script>
    <script src="~/Content/js/slidebars.js"></script>
    <script src="~/Content/js/jquery.bxslider.min.js"></script>
    <script src="~/Content/js/holder.js"></script>
    <script src="~/Content/js/buttons.js"></script>
    <script src="~/Content/js/styleswitcher.js"></script>
    <script src="~/Content/js/jquery.mixitup.min.js"></script>
    <script src="~/Content/js/circles.min.js"></script>
    <script src="~/Content/js/syntaxhighlighter/shCore.js"></script>
    <script src="~/Content/js/syntaxhighlighter/shBrushXml.js"></script>
    <script src="~/Content/js/syntaxhighlighter/shBrushJScript.js"></script>
    <script src="~/Content/js/app_arz.js"></script>


    <script src="~/Content/js/slidebars.js"></script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/jQDateRangeSlider-min.js"></script>
</body>
</html>
