
<div class="col-md-3">

    <div class="panel">
        <div class="panel-header">Your Searches</div>
        <div class="panel-body">
            <ul>
                <li>Old Search 1</li>
                <li>Old Search 2</li>
                <li>Old Search 3</li>
            </ul>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">In Your Network</div>
        <div class="panel-body">
            <ul>
                <li>Other Biz 1</li>
                <li>Other Biz 2</li>
                <li>Other Biz 3</li>
            </ul>
        </div>
    </div>
</div>