
<div class="col-md-3">

    <div class="panel">
        <div class="panel-header">Your Searches</div>
        <div class="panel-body">
            <ul>
                <li><a href="~/Search/Results/?q=Systems+Engineering">Systems Engineering</a></li>
                <li><a href="~/Search/Results/?q=Facilities+management&FBO_SETASIDE:Competitive+8(a)">Facilities management; Set-Aside:8A</a>; </li>
                <li><a href="~/Search/Results/?q=Aircraft&notice_type:presol">Aircraft; Request Type: Presolicitation;</li>
            </ul>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">In Your Network</div>
        <div class="panel-body">
            <ul>
                <li><a href="#">Acme Co.</a></li>
                <li><a href="#">Other Company, LLC</a></li>
                <li><a href="#">Solid Technical Delivery, Inc.</a></li>
            </ul>
        </div>
    </div>
</div>