body{
    overflow:auto !important;
}
.input-search {
    height: 38px !important;
}

.sb-slidebar {
    background-color: #F0F0F0 !important; /* Default Slidebars background colour, overwrite this with your own css. */
}

    .sb-slidebar input[type="text"] {
        height: 30px !important;
        background-color: #4D7DB3 !important;
        color: #fff !important;
    }

.highlight {
    background-color: #FFFF00;
}

.ec-filters-menu {
    margin-left: 1em;
}


#icon-options-xs {
    display: table-cell;
}

    #icon-options-xs i {
        padding: 6px;
          -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 0 2px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 0 2px rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 0 2px rgba(255, 255, 255, 0.75);
  background-image: -webkit-linear-gradient(bottom, #ececec, #f4f4f4);
  background-image: -moz-linear-gradient(bottom, #ececec, #f4f4f4);
  background-image: -o-linear-gradient(bottom, #ececec, #f4f4f4);
  background-image: linear-gradient(to top, #ececec, #f4f4f4);
    }


    .top-nav-login {
  background-color: #007bb6 !important;
  color: #fff !important;
  width: 25px;
  height:25px;
  float:left;
  text-align:center;
}

@media (max-width: 767px) {
    #theme-options {
        display: table;
        position: fixed;
        top: 0px;
        width: 280px;
        left: -240px;
        z-index: 1000;
        height: 1000px;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }


    #slider {
        width: 215px;
        height: 15px;
    }

    h1.page-title{
        padding-left:2em !important;
                 }

    
}
